@use '../variables' as *;
@use '../components/mixins' as *;
@use '../components/breakpoints' as *;
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

h2, h3{
    color: $primary;
    padding: 10px;
}
.part2{
    padding-top: 20px;
    p{
        font-size: 18px;
    }

    @include xs {
        padding-left: 50px;
    }
    @include sm {
        padding-left: 155px;
    }
    @include md {
        padding-left: 20px;
    }
    @include lg {
        padding-left: 20px;
    }

    .linkedin{
        color: $linkedin;
        font-weight: bold;
    }
    
}
.part1{
    
    padding-top: 20px;
}
.img{
    border-radius: 25px;
    height: 400px;
    width: 300px;
}
ul{
    list-style-type: none;
    font-size: 18px;
    a{
        text-decoration: none;
        color: #000;
    }
}
.cv{
    a{
        width: auto;
        text-align: center;
        text-decoration: none;
        padding: 14px 25px;
        display: inline-block;
        background-color: $primary;
        color: $white;
        border-radius: 50px;
        text-transform: initial;
        font-weight: 500;
    }
    a:hover{
        background-color: $purple;
    }
    
}

h1 h2 h3 h4 h5 {
    font-family: 'Lato', sans-serif;
}