@use  '../variables' as *;
@use  "../components/mixins" as *;

.contact{
    padding-top: 10px;
    // background-image: url("../../images/laptop.jpg");
    // background-position: center center;
    // background-repeat: no-repeat;
    // background-attachment: fixed;
    // background-size: cover;
    // background-color: #fff;

    .card{
        margin: auto;
        width: 800px;
        background: lighten($primary, 20%);
        border-radius: 16px;
        box-shadow: 0 4px 30px lighten($primary, 20%);
        backdrop-filter: blur(11.7px);
        -webkit-backdrop-filter: blur(12.7px);
        border: 1px solid lighten($primary, 15%);
    }
    

}
