@use '../variables' as *;
@use '../components/mixins' as *;

.menu {
    @include background;
    
    li {
        padding: 0 0.65rem;

        a {
            color: $primary !important;
            font-weight: bold;
            font-size: 18px;
        }
        a:hover{
            color: $purple !important;
            text-decoration: underline;
        }
    }
}