@use '../components/mixins' as *;
@use '../components/breakpoints' as *;
@use '../variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

#portfolio .project{
    max-width: 26rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2%;
  }
  #portfolio .project .project-link {
    position: relative;
    display: block;
    margin: 0 auto;
  }
  #portfolio .project .project-link .project-hover {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    background: $op-primary;//opacify(rgba(#036, 0.7), 0.3); // #036
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity ease-in-out 0.25s;
    border-radius: 2%;
  }
  #portfolio .project .project-link .project-hover .hover-content {
    font-size: 1.25rem;
    color: white;
  }
  #portfolio .project .project-link:hover .project-hover {
    opacity: 1;
  }
  #portfolio .project {
    padding: 1.5rem;
    text-align: center;
    background-color: #fff;
  }
  #portfolio .project {
    font-size: 1.5rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    margin-bottom: 0;
  }
  #portfolio .project {
    font-style: italic;
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }

.portfolio-modal{
        .modal-lg{
    @include xs {
        background-color: #fff!important;
        height: auto;
    }
    @include sm {
        background-color: #fff !important;
    }
    @include md {
        background-color: #fff !important;
    }
    @include lg {
        background-color: #fff !important;
    }
}
.p-title{
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    border-bottom: solid 1px $primary;
}
h5{
    color: $primary;
    padding-top: 15px !important;
}
ul{
    list-style-type: none;
}
.btn{
    color: $white !important;
    background-color: $primary !important;
    margin: 15px;
    margin-bottom: 15px;
}
}
.npx{
    h3{
        color: $npx-orange;
    }
}
.p-content{
    background-color: $white;
}
h1 h2 h3 h4 h5 {
    font-family: 'Lato', sans-serif;
}
.stage{
  h3{
    color: $npx-orange;
}
.go-back{
background-color: $primary;
color: $white;
margin: 15px;
font-weight: bold;

}
.go-back:hover{
  background-color: $purple;
}
}
.remove-bullet{
  list-style-type: none;
}



.php {
  h5, h6 {
    color: $primary;
    padding: 5px;
  }
  .fa-laravel {
    color: #fb503b !important;
    font-size: 25px;
  }
  .fa-php {
    color: #8993be;
    font-size: 25px;
  }
  .card-body {
    
  background-color: rgba(0, 191, 255, 0.1);
  backdrop-filter: blur(10px) saturate(100%);
  -webkit-backdrop-filter: blur(10px) saturate(100%);
    
  .p-info {
    color: $indigo !important;
    .gh {
      font-weight: bold;
    }
    a {
      color: $indigo;
      text-decoration: none;
    }
  }
    .card:hover .card-hover-images {
      display: block;
    }
    
    .card-hover-images {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
    
    .card-hover-image1 {
      background-image: url('/images/homepage.png');
      background-size: cover;
      background-position: center;
      width: 50%;
      height: 100%;
      float: left;
    }
    
    .card-hover-image2 {
      background-image: url('/images/admin.png');
      background-size: cover;
      background-position: center;
      width: 50%;
      height: 100%;
      float: right;
    }
    
  }
}