@use '../components/mixins' as *;
@use '../components/breakpoints' as *;
@use '../variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

.bgc {
    background-color: #f8f8f8 !important; // #E2E1EC
}

.skills {
    padding-bottom: 50px;

    h2 {
        padding: 25px !important;
        color: $primary;
    }

    .skills-card {

        margin: auto;

        @include xs {
            color: $secondary  !important;
            box-shadow: 5px 5px 5px 5px;
            background-color: $white;
            width: 17rem !important;
            margin: auto;
            margin-bottom: 22px;
            height: 27rem;
        }

        @include sm {
            color: $secondary  !important;
            box-shadow: 5px 5px 5px 5px;
            background-color: $white;
            width: 17rem !important;
            margin: auto;
            margin-bottom: 22px;
            height: 27rem;
        }

        @include md {
            color: $secondary  !important;
            box-shadow: 5px 5px 5px 5px;
            background-color: $white;
            width: 17rem !important;
            margin: auto;
            margin-bottom: 22px;
            height: 27rem;
        }

        @include lg {
            color: $secondary  !important;
            box-shadow: 5px 5px 5px 5px;
            background-color: $white;
            width: 17rem !important;
            margin: auto;
            margin-bottom: 22px;
            height: 27rem;
        }

        .skill-fa {
            padding: 25px !important;
            font-size: 80px;
        }
    }

    .fa-star {
        color: $star;
    }
}

.s-skills {
    h2 {
        padding: 25px !important;
    }

    h3,
    h2 {
        color: $primary;
    }

    .fa {
        color: $mj-blue;
        font-size: 80px;
        padding: 10px;
    }

    .quote {
        font-style: italic;
    }

    .fa-star,
    .fa-star-half {
        color: $star;
        font-size: 18px;
    }



}

h1 h2 h3 h4 h5 {
    font-family: 'Lato', sans-serif;
}