@use '../variables' as *;
@use '../components/mixins' as *;
@use '../components/breakpoints' as *;

.welcome {
@include background;
padding: 5rem 0 0 0;
width: 100%;
height: 100vh;

.cv{
    font-size: 40px;
    a{
        width: auto;
        font-size: 30px;
        text-align: center;
        text-decoration: none;
        padding: 14px 25px;
        display: inline-block;
        background-color: $primary;
        color: $white;
        border-radius: 50px;
    }
    
}
}

.secs{
    padding-top: 1rem;
    .img-sec {
        position: relative;
        
        .img-style{
            background-color: red;
        }
    }
}
.img-sec{
    @include xs {
        margin-bottom: 25px;
    }
    @include sm {
        padding-bottom: 25px;
    }
    @include md {
        margin-bottom: 25px;
    }
    @include lg {
        margin-bottom: 10px;
    }
}
.test{
    @include xs {
        color: red;
    }
    @include sm {
        color: blue;
    }
    @include md {
        color: green;
    }
    @include lg {
        color: yellow;
    }
    
}